.App {
  margin-top: 200px;
}

.form-check-input{
  transform: scale(1.8);
  cursor: pointer;
  margin-right: 1rem;

}

.col-md-4 {
  font-size: 1.4rem;
  padding: 2rem;
  border-right: 1px solid black;
}

.col-md-8 {
  height: 400px;
  overflow-y: scroll;
  padding: 1rem 2rem;
}

.filterList {
  list-style-type: none;
  padding: 0;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label, .form-control {
  margin-left: 2rem;
}
